# This file configures the Azure DevOps registry for @fluentui packages
# DO NOT add auth tokens here - they belong in your user ~/.npmrc file
# Run 'npm run install-with-auth' to set up authentication
@fluentui:registry=https://pkgs.dev.azure.com/microsoftdesign/951975d5-69cc-4771-9d98-92a4b1a82b2b/_packaging/fluent-icons%40Local/npm/registry/
always-auth=true